# Python artifacts
__pycache__/
*.py[cod]

# Local Job Data (Critical to ignore for privacy/storage)
jobs/
assets/templates/*.png
assets/partners/**/*
!assets/partners/.gitkeep

# OS-specific files
.DS_Store
Thumbs.db

# .venv
.venv

.idea/
